$background-color: #263031;
$bodySize: 80vw;
$max-bodySize: 500px;
$edgeing:10vw;
$halfEdgeing:5vw;

$edgeingMOB:35px;
$halfEdgeingMOB:20px;

$smallFonts: "Roboto", sans-serif ;
$largeFonts: "futura-pt", sans-serif ;

$pSize: 0.65rem;
$h1Size: 1.2rem;
$h2Size: 0.75rem;
$aSize:0.6rem;

$h2LineHeight: 1rem;

$smallFontsColour: #fff;
$largeFontsColour: #22818D;

$desktop: 700px;